VITE_API_URL=https://38tkes5vh0.execute-api.ap-south-1.amazonaws.com
VITE_COGNITO_REGION=ap-south-1
VITE_COGNITO_USER_POOL_ID=ap-south-1_7ZqFxIj2M
VITE_COGNITO_CLIENT_ID=2kgvb6ojs4qqtannklbcjlmul9
VITE_COGNITO_DOMAIN=self-healing-691588646018.auth.ap-south-1.amazoncognito.com
VITE_COGNITO_REDIRECT_URI=http://localhost:5173/
VITE_COGNITO_LOGOUT_URI=http://localhost:5173/
